<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Cadastro de Materiais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>{{var1}}</h4>

  <h4>{{var2}}</h4>

  <ion-item>
    <ion-label position="stacked">Nome do produto</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fabricante</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Modelo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Quantidade</ion-label>
    <ion-input></ion-input>
  </ion-item>


<!-- Expand -->
<ion-button expand="full" (click)="cliqueAqui()">Clique Aqui</ion-button>
<ion-button expand="full">LIMPAR CAMPOS</ion-button>


</ion-content>
