<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>CADASTRAR PRODUTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Nome" [(ngModel)]="produto.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" placeholder="Modelo" [(ngModel)]="produto.modelo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="number" placeholder="Quantidade" [(ngModel)]="produto.quantidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="number" placeholder="Preço" [(ngModel)]="produto.preco"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button expand="full" (click)="salvaProduto()">Save</ion-button>
</ion-content>
