<ion-header>
  <ion-toolbar>
    <ion-title color="danger" alling="center">
      Controle Materiais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logo.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>App controle</ion-card-subtitle>
        <ion-card-title>Aplicativo para controle de materiais</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicativo desenvolvido para o curso de Desenvolvimento de sistemas da ETEC - ITU</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Jimi Togni</ion-label>
      </ion-list-header>
      <ion-item href="http://jimi.kozow.com:12345/">
        <ion-icon slot="start" color="medium" name="home"></ion-icon>
        <ion-label>Meu site</ion-label>
      </ion-item>
      <ion-item href="https://facebook.com.br/jimitogni">
        <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>jimi.togni@etec.sp.gov.br</ion-label>
      </ion-item>

    </ion-list>
</ion-content>
